<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @topic, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
      How would you rate how cool this item is?
      <br>
      Coolness: <%= rating_for @topic, "coolness" %>
      <br>
      How difficult is this item to use/learn?
      <br>
      Difficulty: <%= rating_for @topic, "difficulty" %>
      <br>
      Gnarly name?
      <br>
      Name: <%= rating_for @topic, "name" %>
      <br>
      Art Style: <%= rating_for @topic, "art" %>
      <br>
      Would you use this item again?
      <br>
      Replayability: <%= rating_for @topic, "replayability" %>
    <% end %>
  </div>
</div>

<%= link_to "Home", root_path %>